<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rndapp.mtamap">

	<uses-permission  android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:name=".SubwayApplication"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b1bc39c835159dcffd9f2950a40007e570069713" />
    </application>

</manifest>